.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header h1 {
  margin: 0rem 0 6rem;
}

#brainHurt label,
#feeling label,
input#brainHurt,
input#feeling,
input#newOption {
  display: block;
  margin: 2rem auto;
}

section {
  margin: 2rem auto 4rem;
  display: block;
}

ul {
  text-align: left;
  padding-left: 0;
  margin-top: 3rem;
}

li {
  list-style: none;
  margin: 1rem 0;
}

li label {
  padding-left: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 4rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
